<h1>My name is <%= @name %></h1>

<form action = "/named-cat" method ="post">

  Name: <br>
  <input type="text" name="name" >
  <input type="submit" value="Submit">
  <br>

</form>

<div style='border: 2.5px dashed red'>
  <img src='http://bit.ly/1eze8aE'>